$mobileXS: max-width(360px);
$mobile: max-width(767px);
$mobileTablet: max-width(1024px);
$tablet: (min-width(768px) and max-width(1024px));
$desktop: min-width(1025px);
$desktopXL: min-width(1600px);
$mobile_header_height: 60px;
$desktop_header_height: 70px;
$common_red: #d34d35;
